<div class="signin border shadow p-4 text-center rounded">
  <h4 class="mb-4">Sign In</h4>
  <form class="mb-3" [formGroup]="signInForm">
    <input
      type="text"
      class="form-control mb-3"
      formControlName="email"
      placeholder="Email"
      required
    />
    <input
      type="text"
      class="form-control mb-5"
      placeholder="Password"
      formControlName="password"
      required
    />
    <button
      class="btn btn-primary w-100"
      (click)="signInWithUsernameAndPassword()"
    >
      Sign In
    </button>
  </form>

  <button class="btn border w-100 mb-3" (click)="googleAuth()">
    Sign in with Google
    <i class="bi bi-google"></i>
  </button>

  <p class="small mb-0">
    Don't have an account?
    <span class="cursor-pointer" [routerLink]="['/register-user']">Sign Up</span>
  </p>
</div>

<!-- 
<div class="displayTable">
  <div class="displayTableCell">
    <div class="authBlock">
      <h3>Sign In</h3>
      <div class="formGroup">
        <input
          type="text"
          class="formControl"
          placeholder="Username"
          #userName
          required
        />
      </div>
      <div class="formGroup">
        <input
          type="password"
          class="formControl"
          placeholder="Password"
          #userPassword
          required
        />
      </div>
      <div class="formGroup">
        <input
          type="button"
          class="btn btnPrimary"
          value="Log in"
          (click)="authService.signIn(userName.value, userPassword.value)"
        />
      </div>
      <div class="formGroup">
        <span class="or"><span class="orInner">Or</span></span>
      </div>
      <div class="formGroup">
        <button
          type="button"
          class="btn googleBtn"
          (click)="authService.googleAuth()"
        >
          <i class="fab fa-google-plus-g"></i>
          Log in with Google
        </button>
      </div>
      <div class="forgotPassword">
        <span routerLink="/forgot-password">Forgot Password?</span>
      </div>
    </div>
    <div class="redirectToLogin">
      <span
        >Don't have an account?<span
          class="redirect"
          routerLink="/register-user"
        >
          Sign Up</span
        ></span
      >
    </div>
  </div>
</div> -->
