<div class="row">
  <div class="col-5">
    <h6>Groups</h6>
    <div *ngFor="let group of groups$ | async">
      <p class="cursor-pointer" (click)="updateSelectedGroupId(group)">
        {{ group }}
      </p>
    </div>
  </div>
  <div class="col-7">
    <div *ngIf="selectedGroupId$ | async; else noGroupSelected">
      <div *ngIf="isGroupNotEmpty$ | async; else emptyGroup">
        <app-list [flashcards$]="flashcards$"></app-list>
      </div>
    </div>
  </div>
</div>

<ng-template #noGroupSelected>
  <p>Please select a group to show flashcards.</p>
</ng-template>

<ng-template #emptyGroup>
  <p>There are no flashcards in this group.</p>
</ng-template>
