<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item" aria-current="page">
      <a [routerLink]="['/flashcards']">Home</a>
    </li>
    <li class="breadcrumb-item active" aria-current="page">Add</li>
  </ol>
</nav>
<div class="add-card shadow-sm border rounded p-4">
  <form [formGroup]="flashcardForm">
    <input
      class="form-control mb-3"
      placeholder="Question"
      formControlName="question"
    />
    <textarea
      class="form-control mb-3"
      placeholder="Answer"
      rows="5"
      formControlName="answer"
    ></textarea>
    <ng-select
      class="mb-3"
      [items]="categories$ | async"
      placeholder="Category"
      formControlName="category"
    ></ng-select>
    <div class="border mb-3 p-3" *ngIf="noDecks$ | async">
      <p class="small">
        Please create your first deck. Every flashcard has to be in a deck.
      </p>
      <app-deck-add [showCancelButton]="false"></app-deck-add>
    </div>
    <div *ngIf="decksExist$ | async">
      <ng-select
        class="mb-3"
        [items]="decks$ | async"
        placeholder="Deck"
        formControlName="deck"
        bindLabel="name"
      ></ng-select>
    </div>
    <div class="form-check mb-3">
      <input
        class="form-check-input"
        type="checkbox"
        value=""
        id="private"
        formControlName="private"
      />
      <label class="form-check-label" for="private">
        Private
        <span class="small">(only visible to you)</span>
      </label>
    </div>
    <button
      class="btn btn-outline-secondary"
      (click)="add()"
      [disabled]="flashcardForm.invalid"
    >
      Add
    </button>
  </form>
</div>
