<div
  *ngIf="flashcard"
  [ngClass]="{
    'card cursor-pointer d-flex flex-column': true,
    'card-private': flashcard.isPrivate
  }"
  (mouseenter)="setHoveredCard(flashcard.id)"
  (mouseleave)="setHoveredCard(undefined)"
>
  <div (click)="openCardDetailsModal()" class="flex-grow-1">
    <h5>{{ flashcard.question | slice: 0:50 }}</h5>
  </div>
  <div
    *ngIf="shouldShowActions$ | async as showActions"
    class="d-flex justify-content-end"
  >
    <div *ngIf="showActions.author && showActions.id === flashcard.id">
      <i class="bi bi-pen me-2" (click)="openEditFlashcardModal()"></i>
      <i class="bi bi-trash" (click)="openRemoveFlashcardModal()"></i>
    </div>
  </div>
</div>
