<div *ngIf="flashcards$ | async; else emptyList">
  <div class="d-flex justify-content-end">
    <button class="btn" (click)="switchToListView()">
      <i class="bi bi-grid"></i>
    </button>
    <button class="btn" (click)="switchToSingleView()">
      <i class="bi bi-card-text"></i>
    </button>
  </div>
  <div *ngIf="listView$ | async">
    <app-list [flashcards$]="flashcards$"></app-list>
  </div>

  <div *ngIf="singleView$ | async">
    <app-single-card-view [flashcards$]="flashcards$"></app-single-card-view>
  </div>
</div>

<ng-template #emptyList>
  <app-placeholder></app-placeholder>
</ng-template>
