<div *ngIf="formHidden$ | async; else newGroup">
  <button class="btn btn-outline-primary" (click)="showAddGroupForm()">
    Add a new Group
  </button>
</div>

<div *ngFor="let group of groups$ | async">
  <div
    class="border p-3 my-3 rounded shadow-sm cursor-pointer"
    (click)="navigateToGroup(group)"
  >
    {{ group }}
  </div>
</div>

<ng-template #newGroup>
  <app-group-add
    (added$)="groupAdded()"
    (canceled$)="addingCanceled()"
    [showCancelButton]="true"
  ></app-group-add>
</ng-template>
