<div class="signin border shadow p-4 text-center rounded">
  <h4 class="mb-4">Sign Up</h4>
  <form class="mb-3" [formGroup]="signUpForm">
    <input
      type="text"
      class="form-control mb-3"
      formControlName="email"
      placeholder="Email"
      required
    />
    <input
      type="text"
      class="form-control mb-3"
      placeholder="Password"
      formControlName="password"
      required
    />
    <input
      type="text"
      class="form-control mb-5"
      placeholder="First and Last name"
      formControlName="name"
      required
    />
    <button
      class="btn btn-primary w-100"
      (click)="signUpWithEmailAndPassword()"
    >
      Sign Up
    </button>
  </form>

  <button
    class="btn border w-100 mb-3"
    [disabled]="signUpForm.invalid"
    (click)="googleAuth()"
  >
    Sign up with Google
    <i class="bi bi-google"></i>
  </button>

  <p class="small mb-0">
    Already have an account?
    <span class="cursor-pointer" [routerLink]="['/sign-in']"> Sign In </span>
  </p>
</div>
