<div>
  <form [formGroup]="flashcardForm">
    <input
      class="form-control mb-3"
      placeholder="Title"
      formControlName="title"
    />
    <textarea
      formControlName="answer"
      rows="3"
      placeholder="Answer"
      class="form-control mb-3"
    ></textarea>
    <ng-select
      class="mb-3"
      [items]="categories"
      placeholder="Category"
      formControlName="category"
    ></ng-select>
    <ng-select
      class="mb-3"
      [items]="groups$ | async"
      placeholder="Group"
      formControlName="group"
    ></ng-select>

    <div class="form-check mb-3">
      <span class="form-check-label" for="private"> Private </span>
      <input
        class="form-check-input"
        type="checkbox"
        value=""
        id="private"
        formControlName="private"
      />
    </div>

    <button
      class="btn btn-outline-secondary"
      (click)="add()"
      [disabled]="flashcardForm.invalid"
    >
      Add
    </button>
  </form>
</div>
