<div *ngIf="user$ | async as user">
  <div class="d-flex align-items-center border-bottom pb-5">
    <img
      [src]="user.photoURL ?? 'assets/profileAvatar.png'"
      class="me-3 profile-image"
      alt="No image"
    />
    <div>
      <h5 class="mb-2">{{ user.displayName }}</h5>
      <h6>{{ user.email }}</h6>
      <p
        class="small cursor-pointer mt-3 text-danger"
        *ngIf="isOwnProfile$ | async"
        (click)="signOut()"
      >
        Sign out
      </p>
    </div>
  </div>
</div>

<app-view [flashcards$]="flashcards$"></app-view>
