<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item" aria-current="page">
      <a [routerLink]="['/flashcards']">Home</a>
    </li>
    <li class="breadcrumb-item active" aria-current="page">Groups</li>
  </ol>
</nav>

<div *ngIf="formHidden$ | async; else newGroup">
  <button class="btn btn-outline-primary" (click)="showAddGroupForm()">
    Add a new Group
  </button>
</div>

<div *ngFor="let group of groups$ | async">
  <div
    class="border p-3 my-3 rounded shadow-sm cursor-pointer"
    (click)="navigateToGroup(group.id)"
  >
    {{ group.name }}
  </div>
</div>

<ng-template #newGroup>
  <app-group-add
    (added$)="groupAdded()"
    (canceled$)="addingCanceled()"
    [showCancelButton]="true"
  ></app-group-add>
</ng-template>
